<%= form_for(@detalle) do |f| %>
  <% if @detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle.errors.count, "error") %> prohibited this detalle from being saved:</h2>

      <ul>
      <% @detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto_id %><br>
    <%= f.text_field :producto_id %>
  </div>
  <div class="field">
    <%= f.label :columna_id %><br>
    <%= f.text_field :columna_id %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
