<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @detalle.producto %>
</p>

<p>
  <strong>Columna:</strong>
  <%= @detalle.columna %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @detalle.valor %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalles_path %>
