
<script>
    $(document).ready(function(){
        $(".nav li").removeClass("active");
        $("#mninicio").addClass("active");
    })
</script>


<div class="row">
    <div class="col-md-4">
        <h1>Tubo Norte</h1>
        <p>Bienvenido al sitio oficial de la empresa TuboNorte, lider en distribucion de material de construccion, somos socios
            estrategicos de cada uno de nuestros clientes</p>

        </br>
        </br>
        <%= form_for :comentario, url: comentarios_path do |f| %>
            <%= f.label :descripcion %>
            <%= f.text_area :descripcion, class: "form-control", rows: 3, placeholder: "Ingrese su consulta" %>
            <%= f.label :correo %>
            <%= f.text_field :correo, class: "form-control", placeholder: "Ingrese su correo" %>
            </br>
            <button type="submit" class="btn btn-default"><i class="fa fa-envelope"></i> Enviar</button>
        <% end %>

    </div>
    <div class="col-md-8" align="center">
        <div class="row">
        <img src="/assets/tubo1.jpe" width="600" height="340" class="imagen-galeria">
        </div>
        </br>
        <div class="row" align="center">
            <a href="#" class="btn btn-default active"><i></i>1</a>
            <a href="#" class="btn btn-default "><i></i>2</a>
            <a href="#" class="btn btn-default "><i></i>3</a>
            <a href="#" class="btn btn-default "><i></i>4</a>
            <a href="#" class="btn btn-default "><i></i>5</a>
        </div>
    </div>
</div>